
    .container {
      display: "flex";
      flex-direction: "column";
      justify-content: "center";
      align-items: "center";
      padding-top: 50;
    }
    .preview {
      margin-top: 50;
      display: "flex";
      flex-direction: "column";
    }
    .image { max-width: "10%"; max-height: 80px; }
    .delete {
      cursor: "pointer";
     padding-left: 5px;
     padding-right: 5px;
     
      padding: 15;
      background-color: rgb(250, 100, 50);
      color: "white";
      border: "none";
    }
  